<div class="container">
  <h1>Angular Movie App <small>{{searchTerm}}</small></h1>
  <div class="row">
  <form class="form" ng-submit="search()">
    <div class="form-group" ng-class="{'has-error': movies.Error}">
      <label class="control-label">{{movies.Error}}</label>
      <input type="text" class="form-control" ng-model="searchTerm" typeahead="search for search in searchTerms | filter:$viewValue | limitTo:8">
    </div>
    <input type="submit" class="btn btn-primary" name="Search">
  </form>
  </div>
  <div class="row gap"></div>
  <div class="row">
  <table class="table table-hover" ng-show"movies.Search">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in movies.Search">
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td>{{movie.Type | uppercase}}</td>
        <td><a href="/#!/movies/{{movie.imdbID}}" class="label label-info">VIEW</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
